*{
  margin:0px;
  padding:0px;
  overflow: hidden;
}


.container{
  text-align:center;
  height:100vh;
  width: 100vw;
  background-color: orange;
}

header{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display:inline-block;
  margin:35vh 0;
  font-size:10vh;
}

/* Loading Screen */
.loader-wrapper{
 width:100vw;
 height:100vh;
 position:absolute;
 top:0;
 left:0;
 background-color:#242f3f;
 display:flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.triangle {
  width: 0px;
  height: 0px;
  opacity: 0.75;
  display:inline-block;
  justify-content: center;
  position:absolute;
  top:50%;
  animation: enlarge_1 2s infinite;
}
.triangle:nth-child(2) {
  animation: enlarge_2 2s infinite;
  animation-delay: 0.2s;
}
.triangle:nth-child(3) {
  animation: enlarge_3 2s infinite;
  animation-delay: 0.4s;
}
.triangle:nth-child(4) {
  animation: enlarge_4 2s infinite;
  animation-delay: 0.6s;
}
.triangle:nth-child(5) {
  animation: enlarge_5 2s infinite;
  animation-delay: 0.8s;
}
@keyframes enlarge_1 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid #90cdf2;
    margin-top: 0px;
 }
  to {
    opacity: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f5e983;
    margin-top: -100px;
 }
}
@keyframes enlarge_2 {
  from {
    opacity: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid #d390f2;
    margin-top: -4px;
 }
  to {
    opacity: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f5e983;
    margin-top: -100px;
 }
}
@keyframes enlarge_3 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid #ea9071;
    margin-top: -4px;
 }
  to {
    opacity: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f5e983;
    margin-top: -100px;
 }
}
@keyframes enlarge_4 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid #f2c390;
    margin-top: -4px;
 }
  to {
    opacity: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f5e983;
    margin-top: -100px;
 }
}
@keyframes enlarge_5 {
  from {
    opcatiy: 1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 4px solid #f5e983;
    margin-top: -4px;
 }
  to {
    opacity: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f5e983;
    margin-top: -100px;
 }
}

/* Loading Screen */
